.add-container {
	margin-top: 75px;
}
.ads-type {
	display: flex;
	width: 100%;
	a {
		width: 100%;
	}
	&__choice {
		height: calc(100vh / 3);
		width: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
    align-items: center;
		justify-content: center;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,0.7);
			transition: .3s;
		}
		p {
			margin: 0;
			color: $black;
			z-index: 1;
			font-family: $header-font;
			font-size: 1.7rem;
		}
		&--found {
			background-image: url('../images/znajdz-zwierzaka-found-small.jpg');
			&:hover {
				&:after {
					background: rgba($found-color, 0.3);
				}
			}
		}
		&--lost {
			background-image: url('../images/znajdz-zwierzaka-lost-small.jpg');
			&:hover {
				&:after {
					background: rgba($lost-color, 0.3);
				}
			}
		}
		&--adopt {
			background-image: url('../images/znajdz-zwierzaka-adopt-small.jpg');
			&:hover {
				&:after {
					background: rgba($adopt-color, 0.3);
				}
			}
		}
	}
	@include breakpoint(medium) {
		&__choice {
			p {
				font-size: 2.5rem;
			}
			&--found {
				background-image: url('../images/znajdz-zwierzaka-found-medium.jpg');
			}
			&--lost {
				background-image: url('../images/znajdz-zwierzaka-lost-medium.jpg');
			}
			&--adopt {
				background-image: url('../images/znajdz-zwierzaka-adopt-medium.jpg');
			}
		}
	}
	@include breakpoint(large) {
		&__choice {
			height: 100vh;
			&--found {
				background-image: url('../images/znajdz-zwierzaka-found.jpg');
			}
			&--lost {
				background-image: url('../images/znajdz-zwierzaka-lost.jpg');
			}
			&--adopt {
				background-image: url('../images/znajdz-zwierzaka-adopt.jpg');
			}
		}
	}
}
