
// Variables 
// ---------
$black: #232425;
$primary-color: #6aa002;
$breakpoints: (
  xs: 35.5em,
  sm: 48em,
  md: 64em,
  lg: 80em,
);
$header-font:'Montserrat', sans-serif;
$paragraph-font:'Lato', sans-serif;


// Mixins 
// ---------
@mixin link($link, $visit, $hover, $active){
	color: $link;
	text-decoration: none;
	&:visited {
		color:$visit;
	}
	&:hover {
		color: $hover;
	}
	&:active {
		color: $active;
	}
}
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}
// Tags 
// ---------
html {
	font-size: 12px;
}
body {
	font-family: $paragraph-font;
}
a {
	@include link($black,$black,$primary-color,$primary-color);
}
h1,h2,h3,h4 {
	font-family: $header-font;
}

// Global classes
// ---------
.app {
	padding-left: .5rem;
	padding-right: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.switch-wrapper { 
  position: relative;
}
.switch-wrapper > div {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}