
// Variables 
// ---------
$black: #232425;
$primary-color: #6aa002;
$breakpoints: (
  xs: 35.5em,
  sm: 48em,
  md: 64em,
  lg: 80em,
);


// Mixins 
// ---------
@mixin link($link, $visit, $hover, $active){
	color: $link;
	text-decoration: none;
	&:visited {
		color:$visit;
	}
	&:hover {
		color: $hover;
	}
	&:active {
		color: $active;
	}
}
@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}
// Tags 
// ---------
body {
	font-family: 'Cabin', sans-serif;
}
a {
	@include link($black,$black,$primary-color,$primary-color);
}

// Global classes
// ---------
.switch-wrapper {
  position: relative;
}
.switch-wrapper > div {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}