.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../images/znajdz-zwierzaka-hero.jpg');
	@include background-image($position: left center);
	height: 500px;
	position: relative;
	// margin-bottom: 1.5rem;
	.grid-container {
		z-index: 1;
	}
	&__title {
		margin-bottom: 1rem;
	}
	&__text {
		margin-bottom: 1.2rem;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(white, .75);
		content: '';
	}
	@include breakpoint(large) {
		@include background-image();
	}
}