.map {
	height: 450px;
	&__title {
		font-weight: 400;
		margin-bottom: 1rem;
	}
}
.marker {
  position: absolute;
  width: 37px;
  height: 47px;
  left: -19px;
	top: -40px;
	transition: .5s cubic-bezier(.43,.26,.26,1.3) ;
	overflow: hidden;
	// &__image {
	// 	width: 100%;
	// }
}