.navigation {
	padding: 0;
	list-style: none;
	display: flex;
	&__item {
		display: flex;
		font-family: $header-font;
		font-weight: 600;
		text-transform: uppercase;
		font-size: .9rem;
    display: flex;
    flex-direction: column;
		justify-content: flex-start;
    align-items: center;
    text-align: center;
		flex-basis: 33%;
		&:not(:last-child) {
			border-right: 1px solid $light-grey;
		}
		.active {
			svg {
				fill: $primary-color;
			}
		}
		span {
			display: none;
		}
	}
}