.table {
	list-style: none;
	padding-left: 0;
}
.table-row {
		background: white;
		display: flex;
		border-left: 8px solid;
		min-height: 100px;
		border-bottom: 1px solid rgba(black, 0.05);
		border-right: 1px solid rgba(black, 0.05);
		&--lost {
			border-left-color: $lost-color;
		}
		&--found {
			border-left-color: $found-color;
		}
		&--adopt {
			border-left-color: $adopt-color;
		}
		&--hover {
			background: white;
		}
		&__title {
			font-weight: 500;
			line-height: 1;
			margin-bottom: 10px;
		}
		&__image-wrapper {
			height: auto;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat; 
		}
		&__details {
			line-height: 1;
			font-size: 14px;
			text-transform: capitalize;
		}
		&__details-wrapper {
			padding: 25px 10px 25px 15px;
		}
		&__details-wrapper-inner {
			margin-bottom: 20px;
		}
		&__icon {
			margin-right: 10px;
		}
}