.table {
	&__image {
		max-width: 80px;
	}
	&__row {
		background: gold;
		max-height: 100px;
		&--hover {
			background: red;
		}
		&--lost {
			background: lightgreen;
		}
		&--found {
			background: plum;
		}
		&--adopt {
			background: sandybrown;
		}
	}
}

